.LibraryPage {
  ._header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1rem;
  }

  .ui.card {
    cursor: pointer;
    &:hover {
      box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 2px #d4d4d5;
    }
  }

  .image {
    height: 15rem;
    overflow: hidden;
    img {
      object-fit: scale-down;
    }
  }

  ._actions {
    display: flex;
    justify-content: space-between;
  }
}

.LibraryPage_modal {
  .content {
    height: 75vh;
  }

  .image {
    display: flex !important;
    justify-content: center;
    width: 100%;
    height: 100%;
    img {
      object-fit: scale-down;
    }
  }
}
