.DrawingPage {
  .ui.icon.button {
    margin: 0;
  }

  .return-button {
    align-self: flex-start;
  }

  .prompt-controls {
    width: 100%;
  }

  .prompt {
    display: flex;
    justify-content: center;
  }

  .center-button {
    display: flex;
    justify-content: center;
  }
}
