.GamePage {
  .return-button {
    align-self: flex-start;
    margin-bottom: 0.5rem;
  }

  & > .__drawing {
    height: 30rem;
    object-fit: contain;
    border: 1px solid gray;
  }

  & > .__actions {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0.5rem 0;

    & > .__results {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & > .__continue {
        margin-top: 0.5rem;
      }
    }
  }

  ._choices {
    .ui.button {
      margin: 0.25rem;
    }
  }
}
